** {
    padding: 0px;
    margin: 0px;
    
} 

.body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

/* Section-top-nav */

.top-nav {
    position: absolute;
    width: 100%;
    height: 156px;
    left: 0px;
    top: 0px;
    
    background: #4B4B4B;
}

.top-nav__bg-image{
    position: absolute;
    width: 191px;
    height: 35px;
    left: 160px;
    top: 55px;

    font-family: Roboto;

    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.0554719em;

    color: #EBCB80;
}

.top-nav__social-list {
    position: absolute;
    display: flex;
    margin-top: 60px;
    right: 160px;

    list-style: none;
}

.top-nav__social-list > li {
    margin-left: 1.5rem;
    
    font-family: Roboto;
    font-style: normal;
}



/* .top-nav__social-list > li:last-child {
    width: 150px;
    height: 48px;
    left: 1111px;
    top: 54px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
}
.top-nav__social-list > li:last-child> a {
    color: red;
    position: relative;
    text-align: center;
    letter-spacing: 0.05em;
} */
.top-nav__social-list > li > a {
    color: white;
    transition: all 0.5s ease-in;
}

.top-nav__social-list > li > a:hover {
    color: red;
    text-decoration: none;
}


/* Section-Hero */

.hero{
    position: absolute;
    width: 100%;
    height: 768px;
    left: 0px;
    top: 156px;
    

    background: #EBCB80;
    mix-blend-mode: color;
    background-image: url(./image/background.svg);
}

.hero__title{
    position: absolute;
    width: 778px;
    height: 48px;
    left: 315px;
    top: 236px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 48px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.0363636em;

    color: #4B4B4B;
}

.hero__qoute {
    position: absolute;
    width: 555px;
    height: 24px;
    left: 550px;
    top: 305px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #4B4B4B;
}

.hero__form__input{
    position: absolute;
    width: 270px;
    height: 48px;
    left: 400px;
    top: 365px;

    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 4px;
}

.hero__btn{
    position: absolute;
    width: 198px;
    height: 48px;
    left: 688px;
    top: 365px;

    border: 2px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 50px;
}

.hero__icon-1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 540px;
    top: 472px;
}

.hero__icon-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 635px;
    top: 472px;
}

.hero__icon-3{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 720px;
    top: 472px;

}

/* section-our-team */

.our-team{
    position: absolute;
    width: 100%;
    height: 590px;
    left: 0px;
    top: 926px;

    background: #FFFFFF;
}

.our-team__content {
    position: absolute;
    height: 48px;
    left: 574px;
    top: 54px;

    font-size: 44px;
    line-height: 48px;
    /* identical to box height, or 109% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.0363636em;

    color: #4B4B4B;
}

/* People-1 */
.our-team__image1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 87px;
    top: 155px;

}

.our-team__name1 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 184px;
    top: 159px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__position1 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 184px;
    top: 183px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__description1 {
    position: absolute;
    width: 261px;
    height: 72px;
    left: 184px;
    top: 223px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}


/* People-2 */

.our-team__image2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 87px;
    top: 369px;
}

.our-team__name2 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 184px;
    top: 375px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__position2{
    position: absolute;
    width: 213px;
    height: 26px;
    left: 184px;
    top: 399px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

.our-team__description2 {
    position: absolute;
    width: 264px;
    height: 48px;
    left: 184px;
    top: 439px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

/* People-3 */

.our-team__image3{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 477px;
    top: 155px;

}

.our-team__name3 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 574px;
    top: 159px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}
/* 65px */

.our-team__position3 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 574px;
    top: 183px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__description3 {
        
    position: absolute;
    width: 263px;
    height: 48px;
    left: 574px;
    top: 223px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

/* People-4 */

.our-team__image4{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 477px;
    top: 371px;
}

.our-team__name4 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 574px;
    top: 375px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__position4{
    position: absolute;
    width: 213px;
    height: 26px;
    left: 574px;
    top: 399px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__description4{
    
    position: absolute;
    width: 264px;
    height: 48px;
    left: 574px;
    top: 439px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
    }


/* People-5 */

.our-team__image5 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 866px;
    top: 155px;
}

.our-team__name5 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 964px;
    top: 159px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

.our-team__position5 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 964px;
    top: 183px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

.our-team__description5 {
    position: absolute;
    width: 263px;
    height: 24px;
    left: 964px;
    top: 223px;

    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

/* Pepple-6 */

.our-team__image6 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 866px;
    top: 371px;
}

.our-team__name6 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 964px;
    top: 376px;

    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__position6 {
    position: absolute;
    width: 213px;
    height: 26px;
    left: 964px;
    top: 400px;

    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}

.our-team__description6 {
    position: absolute;
    width: 264px;
    height: 48px;
    left: 964px;
    top: 439px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #4B4B4B;

}


/*Section-product-purchase*/

.product-purchase{
    position: absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 1516px;

    background: #4b4b4b;
}


.product-purchase__title{
    position: absolute;
    width: 386px;
    height: 48px;
    left: 425px;
    top: 68px;

    font-size: 44px;
    line-height: 48px;
    /* identical to box height, or 109% */

    display: flex;
    justify-content: center;
    letter-spacing: -0.0363636em;

    color: #FFFFFF;
}

.product-purchase__form1{
    position: absolute;
    width: 360px;
    height: 396px;
    left: 53px;
    top: 168px;

    background: linear-gradient(226.82deg, rgba(255, 255, 255, 0.3) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
    background-blend-mode: soft-light;
    border-radius: 8px;
}

.product-purchase__form2{
    position: absolute;
    width: 360px;
    height: 396px;
    left: 446px;
    top: 168px;

    background: linear-gradient(227.73deg, #EBCB80 0%, #EBCB80 100%);
    background-blend-mode: soft-light;
    border-radius: 8px;
}

.product-purchase__form3 {
    position: absolute;
    width: 360px;
    height: 396px;
    left: 840px;
    top: 168px;

    background: linear-gradient(226.22deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
    background-blend-mode: multiply;
    border-radius: 8px;
}

.product-purchase__form1__name , .product-purchase__form3__name , .product-purchase__form2__name{
    position: absolute;
    width: 145px;
    height: 27px;
    left: 107px;
    top: 40px;

    font-family: Lucida Grande;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    display: flex;
    justify-content: center;
    letter-spacing: 0.0555556em;
}
.product-purchase__form1__name , .product-purchase__form3__name {
    color: #EBCB80
}

.product-purchase__form2__name{
    color: #4B4B4B;
}

.product-purchase__form__price{
    position: absolute;
    width: 134px;
    height: 48px;
    left: 89px;
    top: 97px;

}

.product-purchase__form__price__number{
    
    position: absolute;
    width: 85px;
    height: 48px;
    left: 49px;
    top: 0px;

    font-size: 64px;
    line-height: 48px;
    /* identical to box height, or 75% */

    display: flex;
    justify-content: center;
    letter-spacing: -0.0363636em;

    color: #FFFFFF;
}

.product-purchase__form__price__usd {
    position: absolute;
    width: 85px;
    height: 29px;
    left: 36px;
    top: 1px;

    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;

}

.product-purchase__form__year {
    position: absolute;
    width: 145px;
    height: 27px;
    left: 107px;
    top: 160px;


    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    display: flex;
    justify-content: center;
    letter-spacing: 0.0555556em;

    color: #FFFFFF;
}

.product-purchase__form__price3 {
    position: absolute;
    width: 167px;
    height: 48px;
    left: 71px;
    top: 97px;
}

.product-purchase__form__price__number3{
    position: absolute;
    width: 114px;
    height: 48px;
    left: 53px;
    top:0px;

    font-size: 64px;
    line-height: 48px;
    /* identical to box height, or 75% */

    display: flex;
    justify-content: center;
    letter-spacing: -0.0363636em;

    color: #FFFFFF;
}

.product-purchase__form__price__usd3 {
    position: absolute;
    width: 85px;
    height: 29px;
    left: 5px;
    top: 1px;

    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    justify-content: center;

    color: #FFFFFF;

}

.product-purchase__form1__info1, 
.product-purchase__form1__info2, 
.product-purchase__form1__info3 , 
.product-purchase__form2__info1 , 
.product-purchase__form2__info2 , 
.product-purchase__form2__info3,
.product-purchase__form3__info1,
.product-purchase__form3__info2,
.product-purchase__form3__info3  {
    position: absolute;
    width: 230px;
    height: 24px;
    left: 65px;

    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    justify-content: center;

}

.product-purchase__form1__info1 , .product-purchase__form2__info1 , .product-purchase__form3__info1{
    top: 210px;
}

.product-purchase__form1__info2 , .product-purchase__form2__info2 , .product-purchase__form3__info2{
    top: 234px;
}

.product-purchase__form1__info3 , .product-purchase__form2__info3 ,.product-purchase__form3__info3{
    top: 258px;
}

.product-purchase__form1__info1 , .product-purchase__form1__info2 , .product-purchase__form1__info3 {
    color: #ffffff;
}
.product-purchase__form2__info1 , .product-purchase__form2__info2 , .product-purchase__form2__info3 {
    color: #4B4B4B;
}
.product-purchase__form3__info1 , .product-purchase__form3__info2 , .product-purchase__form3__info3 {
    color: #FFFFFF;
}


.product-purchase__form1__button , .product-purchase__form2__button , .product-purchase__form3__button {
    position: absolute;
    width: 198px;
    height: 48px;
    left: 83px;
    top: 312px;

    border-radius: 50px;
    border: 2px;
    box-sizing: border-box;
}

.product-purchase__form1__button , .product-purchase__form3__button {
    background: #EBCB80;
}

.product-purchase__form2__button {
    background: #4B4B4B;
}

.product-purchase__form2__button__purchase{
    color: #FFFFFF;

}

.product-purchase__form1__button__purchase ,  .product-purchase__form2__button__purchase , .product-purchase__form3__button__purchase{
    transition: all 0.5s ease-in;
}

.product-purchase__form1__button__purchase:hover ,  
.product-purchase__form2__button__purchase:hover , 
.product-purchase__form3__button__purchase:hover {
    color: red;
}

/*Section-slide*/
.section-slider {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 2197px;


    overflow: hidden;
}

.section-slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
	background-position: center;
    z-index: 1;
    display: none;
    padding:0 15px;
    animation: slide 2s ease;
}
.section-slider .slide.active {
    display: flex;
}

@keyframes slide{
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.container-item {
    margin-top: 100px;
    width: 100%;
    left: 600px;

    align-items: center;
    text-align: center;
    
}

.section-slider .container-item{
    flex-grow: 1;
}

.content__name {
    

    font-size: 18px;
    line-height: 27px;
    margin-top: 32px;
    margin-bottom: 23px;
    color: #4B4B4B;
} 



.content__title {
    /* width: 555px; */
    font-size: 14px;
    line-height: 24px;
    
    color: #4B4B4B;
} 

.section-slider .controls .prev {
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 200px;
    
    height: 40px;
    width: 55px;
    cursor: pointer;
    
    background-image: url(./image/btnNext.svg);

    transition: all 0.5s ease;
}

.section-slider .controls .next {
    background-image: url(./image/btnPrev.svg);
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 1000px;
    height: 40px;
    width: 55px;
    cursor: pointer;

    transition: all 0.5s ease;
}


.section-slider .indicator {
    position: absolute;
    left: 35em;
    bottom: 83px;
    z-index: 2;
}

.section-slider .indicator div {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 16px;

    border: 2px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 7.5px;
    cursor: pointer;
}

.section-slider .indicator div.active {
    background-color: #4B4B4B;
}

/*Section-facts*/

.section-facts {
    position: absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 2797px;

    background: #4B4B4B;
}

.section-facts__group {
    display: flex;
}

.section-facts__title {
    position: absolute;
    width: 216px;
    height: 48px;
    left: 532.5px;
    top: 44px;

    font-size: 44px;
    line-height: 48px;

    display: flex;
    justify-content: center;
    letter-spacing: -0.0363636em;

    color: #FFFFFF;
}

.section-facts__qoute {
    
    position: absolute;
    width: 430px;
    height: 48px;
    left: 426px;
    top: 112px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    text-align: center;

    color: #FFFFFF;
}

.section-facts__overlay {
    position: absolute;
    width: 360px;
    height: 401px;
    top: 193px;

    background: linear-gradient(226.22deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
    background-blend-mode: multiply;
    border-radius: 8px;
}
.section-facts__overlay1 {
    left: 56px;
}

.section-facts__overlay2 {
    left: 451px;
 
}

.section-facts__overlay3 {
    left: 841px;
 
}

.section-facts__overlay__name {
    position: absolute;
    width: 145px;
    height: 27px;
    left: 107px;
    top: 40px;

    font-family: Lucida Grande;
    font-size: 18px;
    line-height: 27px;


    display: flex;
    justify-content: center;
    letter-spacing: 0.0555556em;

    color: #EBCB80;
}

.section-facts__overlay__icon{
    position: absolute;
    left: 144px;
    top: 92px;
}

.section-facts__overlay__icon3{
    position: absolute;
    left: 152px;
    top: 92px;
}

.section-facts__overlay__product {
    position: absolute;
    width: 230px;
    height: 24px;
    left: 65px;
    top: 184px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    letter-spacing: 0.0625em;

    color: #FFFFFF;
}

.section-facts__overlay__info {
    position: absolute;
    width: 230px;
    height: 72px;
    left: 65px;
    top: 212px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.section-facts__overlay__btn {
    position: absolute;
    width: 198px;
    height: 48px;
    left: 83px;
    top: 312px;

    background: #EBCB80;
    border: 2px;
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.5s ease-in;
}

.section-facts__overlay__btn:hover {
    color: red;
}


/*Section-places*/

.section-places {
    position: absolute;
    width: 100%;
    height: 888px;
    left: 0px;
    top: 3477px;

    background: #F3F3F3;
}

.section-places__title {
    
    position: absolute;
    width: 294px;
    height: 48px;
    left: 500px;
    top: 67px;

    font-size: 44px;
    line-height: 48px;

    display: flex;
    justify-content: center;
    letter-spacing: -0.0363636em;

    color: #4B4B4B;
}


.section-places__names{

    position: absolute;
    /* width: 141px;
    height: 27px; */
    left: 205px;
    top: 135px;

    font-size: 18px;
    line-height: 27px;

    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.0555556em;

    color: #4B4B4B;

    list-style: none;
    cursor: pointer;
}

.section-places__names > li {
    margin-left: 55px;
}

.section-places__image {
    position: absolute;
    left: 90px;
    height: 150px;
    top: 191px;

    display: flex;
    flex-wrap: wrap;
}

.section-places__image > img {
    width: 300px;
    text-align: center;
    line-height: 75px;
    margin-left: 50px;
    margin-top: 24px;
}


/*Section-signup*/

.section-signup {
    position: absolute;
    width: 100%;
    height: 588px;
    top: 4365px;

    background: url(./image/bgsignup.svg);
    background-blend-mode: multiply, normal;
}
.section-signup__create__title {

    font-size: 44px;
    line-height: 48px;
    margin-top: 72px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.section-signup__create__form {
    width: 360px;
    height: 384px;
    padding: 0px 52px;

    background: #4B4B4B;
    background-blend-mode: multiply;
    border-radius: 8px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-signup__create__form__signup {
    margin: 28px 29px;

    font-size: 18px;
    line-height: 27px;

    text-align: center;
    color: #EBCB80;
}

.section-signup__create__form__input {
    position: relative;
    margin: 25px 0;
}
.section-signup__create__form__input input {
    width: 256px;
    height: 36px;

    padding: 0 5px;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 10px;
  
}

.section-signup__create__form__input span::before {

    content: attr(data-placeholder);
    position: absolute;
    padding: 5px 0;
    left: 15px;
    color: #adadad;
    transform: translateY(-10%);
    z-index: -1;
    transition: .5s;

}

.section-signup__create__form__already{
    margin-bottom:  27px;
    margin-left: 29px;
}

.section-signup__create__form__already a{
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: #EBCB80;
    text-decoration-line: underline;
    color: #EBCB80;
}

.section-signup__create__form__btn{
    width: 198px;
    height: 48px;

    margin-left: 28px;

    text-align: center;
    background: #EBCB80;
    border: 2px;
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.5s ease-in;
}

.section-signup__create__form__btn:hover {
    color: red;
}

/*section-contact*/

.section-contact {
    position: absolute;
    width: 100%;
    height: 700px;
    left: 0px;
    top: 4954px;

    background: #FFFFFF;
}

.contact__title {

    font-size: 44px;
    line-height: 48px;
    
    margin-top: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;

    color: #4B4B4B;

}

.contact__info {

    margin-top: 65px;

    display: flex;
}

.contact__info__git {
    flex: 1;
}

.contact__info__form {
    flex: 2;
}

.contact__info__credit{

    flex: 1;
}

@media screen and (max-width: 768px){
    .contact__info{
        flex-direction: column;
    }
    .contact__info__git__address {
        display: flex;
    }
    .contact__info__form{
        width: 229px;
        height: 183px;
    }
    .contact__info__credit__social {
        display: flex;
    }
}

.contact__info__git__title{
    font-size: 18px;
    line-height: 30px;

    letter-spacing: 0.0555556em;

    color: #4B4B4B;
}

.contact__info__git__address{
    width: 234px;
    height: 48px;
    margin-top: 22px;

    font-size: 16px;
    line-height: 24px;

    display: flex;

    color: #4B4B4B;
}

.contact__info__git__address > img {
   margin: 0px 12px 20px 5px;
}

.contact__info__git__email {
    width: 173px;
    height: 24px;
    margin: 24px 0px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #4B4B4B;
}
.contact__info__git__email > img {
    margin-top: 2px;
    margin-right: 9px;
}

.contact__info__git__phone {
    width: 133px;
    height: 24px;
    margin-left: 3px;

    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

.contact__info__git__phone > img {
    margin-right: 12px;
}
.contact__info__git__phone > div {
    margin-top: 40px;
}

.contact__info__form {
    /* position: absolute; */
    width: 229px;
    height: 414px;


    background: #FFFFFF;
    border: 2.13333px solid #E6E6E6;

    text-align: center;

    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}


.contact__info__form__ne {
     display: flex;
     color: #4B4B4B;
}



.contact__info__form__ne__name {
    margin-right: 12px;
    padding-left: 60px;
    padding-top: 39px;
    padding-bottom: 16px;
}

.contact__info__form__ms {
    margin-right: 215px;
}
.contact__info__form__email {
    padding-top: 39px;
}
.contact__info__form__name__info {
    padding-bottom: 17px;
}

.contact__info__form_btn {
    width: 204px;
    height: 36px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
}

.contact__info__form__name__info{
    margin-right: 155px;
    left: 0px;
}

.contact__info__form__ms input {
    margin-left: 60px;
    margin-bottom: 24px;
    width: 420px;
    height: 120px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
}

.contact__info__form__btn {
    
    width: 210px;
    height: 48px;


    background: #EBCB80;
    border: 2px;
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.5s ease-in;
    
}

.contact__info__form__btn:hover {
    color: red;
    background-color: #4B4B4B;
}


.contact__info__credit {
    margin-left: 39px;
}

.contact__info__credit__title {
        
    width: 263px;
    height: 30px;

    font-size: 18px;
    line-height: 30px;

    display: flex;
    align-items: center;
    letter-spacing: 0.0555556em;

    color: #4B4B4B;

}

.contact__info__credit__qoute {
    margin-top: 13px;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #4B4B4B;
}

.contact__info__credit__follow {
    width: 263px;
    height: 30px;

    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;

    align-items: center;
    letter-spacing: 0.0555556em;

    color: #4B4B4B;
}

.contact__info__credit__social {
    display: flex;

    width: 154px;
    height: 40px;
    justify-content: space-around;
    list-style: none;
}
.contact__info__credit__social li {
    width: 35px;
    height: 40px;
    margin-right: 35.75px;
}
.contact__info__credit__socials2 {
    margin-bottom: 40px;
    padding-right: 5px;
}